<div class="text-2xl font-bold pb-2">Войдите</div>

<%= form_with(url: session_path, local: true, class: 'flex flex-col') do |f| %>

  <%#= render 'shared/errors', object: book %>

  <div class="mb-4">
    <%= f.label :email, 'Почта', class: 'text-gray-600' %><br>
    <%= f.email_field :email,
                      autofocus: true, 
                      size: 33,
                      class: tw(:form_input) %>
  </div>

  <div class="mb-4">
    <%= f.label :password, 'Пароль', class: 'text-gray-600' %><br>
    <%= f.password_field :password, 
                      size: 33,
                      class: tw(:form_input) %>
  </div>

  <div class="mb-4">
    <%= f.submit 'Войти',
                  class: 'cursor-pointer text-lg font-bold bg-blue-500 text-white px-6 py-2 inline-block mr-6' %>
  </div>

<% end %>
