<%= form_with(model: user, local: true, class: 'flex flex-col') do |f| %>

  <%= render 'shared/errors', object: user %>

  <div class="mb-4">
    <%= f.label :first_name, 'Имя', class: 'text-gray-600' %><br>
    <%= f.text_field :first_name,
                      autofocus: true, 
                      size: 33,
                      class: tw(:form_input) %>
  </div>

  <div class="mb-4">
    <%= f.label :last_name, 'Фамилия', class: 'text-gray-600' %><br>
    <%= f.text_field :last_name,
                      size: 33,
                      class: tw(:form_input) %>
  </div>

  <div class="mb-4">
    <%= f.label :email, 'Корпоративная почта', class: 'text-gray-600' %><br>
    <%= f.email_field :email,
                      size: 33,
                      class: tw(:form_input) %>
  </div>

  <div class="mb-4">
    <%= f.label :department, 'Отдел', class: 'text-gray-600' %><br>
    <%= f.text_field :department,
                      size: 33,
                      class: tw(:form_input) %>
  </div>

  <div class="mb-4">
    <%= f.submit 'Добавить',
                  class: 'cursor-pointer text-lg font-bold bg-blue-500 text-white px-6 py-2 inline-block mr-6' %>
  </div>

<% end %>
