<div class="text-2xl font-bold pb-2">Список пользователей</div>

<ul class="py-3 list-inside list-disc">
  <% @users.each do |user| %>
    <% if user.role == 'admin' %>
      <li class="font-bold text-purple-500">
        <%= user.first_name %> <%= user.last_name %>
        <%= mail_to user.email, "<#{user.email}>" %>
      </li>
    <% else %>
      <li>
        <%= user.first_name %> <%= user.last_name %>
        <%= mail_to user.email, "<#{user.email}>" %>
      </li>
    <% end %>
  <% end %>
</ul>
