<div class="text-2xl font-bold pb-2">Вернуть прочитанную книгу</div>

<p class="my-3"><strong>Напоминание:</strong> Вы собираетесь вернуть книгу на полку. Наша библиотека доверяет Вам, поэтому мы не просим логин/пароль. Просто введите ваш корпоративный ID и всё ☺️</p>

<form action="/users/show" method="get" class="<%= tw(:return_form) %>">
  <div class="mb-4">
    <label for="account" class="text-gray-600">Корпоративный ID (или почта)</label><br>
    <input type="text" name="account" id="account" class="<%= tw(:form_input) %>">
  </div>

  <div class="mb-4">
    <input type="submit" value="Посмотреть мои книги 📗" class="cursor-pointer text-lg font-bold bg-blue-500 text-white px-6 py-2 inline-block mr-6">
  </div>
</form>
