<div class="text-2xl font-bold pb-2">
  Привет, <%= @user.first_name %>! 😉
</div>

<% unless @user.unreturned_rentals.present? %>
  <p>У тебя пока нет никаких книг :)</p>
  <p>Посмотри список книг нашей 
    <%= link_to 'библиотеки', all_books_path, class: tw(:rental_list_book_title) %>
  </p>
<% end %>

<ul>
  <% @user.unreturned_rentals.each do |r| %>
    <li class="list-inside list-decimal mb-3">
      <%= link_to r.book.name, book_path(r.book), class: tw(:rental_list_book_title) %>

      <%= link_to 'Вернуть на полку', book_rental_path(r.book, city: r.got_from, rental_id: r.id),
                  class: tw(:return_book_btn),
                  method: :delete,
                  data: { confirm: 'Вы уверены, что хотите вернуть книгу на полку? Просим не возвращать книгу за чужих пользователей.' } %>
    </li>
  <% end %>
</ul>
