<div class="text-2xl font-bold pb-2">
  История чтения книг
</div>

<table class="flex flex-row orders-table">
  
  <tr>
    <th class="bg-blue-100 border text-left px-4 py-2">Книга</th>
    <th class="bg-blue-100 border text-left px-4 py-2 text-center">Сотрудник</th>
    <th class="bg-blue-100 border text-left px-4 py-2 text-center">Взял</th>
    <th class="bg-blue-100 border text-left px-4 py-2 text-center">Вернул</th>
  </tr>

  <% @rentals.each do |rental| %>
    <tr>
      <td class="border px-4 py-2 text-sm">
        <%= link_to rental.book.name,
                    book_path(rental.book), 
                    class: 'text-blue-500 hover:underline' %>
        - <%= rental.city %>
      </td>

      <td class="border px-4 py-2 text-sm text-center">
        <%= rental.user.first_name_and_initials %>
      </td>

      <td class="border px-4 py-2 text-sm text-center">
        <%= rental.created_at.strftime('%d.%m') %>
      </td>

      <td class="border px-4 py-2 text-sm text-center">
        <%= rental.updated_at.strftime('%d.%m') %>
      </td>
    </tr>
  <% end %>

</table>
