<div class="text-2xl font-bold pb-2">
  Список читающих
</div>

<p>
  Книгу <%= link_to @book.name, book_path(@book), class: tw(:rental_list_book_title) %>
  сейчас читают:
</p>

<ul class="rentals">
  <% @rentals.each do |r| %>
    <li class='<%= tw(:rental_list) %>'>
      <b><%= r.user.full_name %></b>
      вернёт
      <b><%= r.return_date.strftime('%-d.%-m.%Y') %></b>
      (<%= r.city %>)
    </li>
  <% end %>
</ul>
