<div class="text-2xl font-bold pb-2">
  Список читающих в настоящий момент
</div>

<p class="mb-2">
  <%= link_to 'История чтения',
              rental_history_path,
              class: 'text-blue-500 hover:underline' %>
</p>

<table class="flex flex-row orders-table">
  
  <tr>
    <th class="bg-blue-100 border text-left px-4 py-2">Книга</th>
    <th class="bg-blue-100 border text-left px-4 py-2 text-center">Город</th>
    <th class="bg-blue-100 border text-left px-4 py-2 text-center">Сотрудник</th>
    <th class="bg-blue-100 border text-left px-4 py-2 text-center">Отдел</th>
    <th class="bg-blue-100 border text-left px-4 py-2 text-center">Взял</th>
    <th class="bg-blue-100 border text-left px-4 py-2 text-center">Вернёт</th>
  </tr>

  <% @rentals.each do |rental| %>
    <tr>
      <td class="border px-4 py-2 text-sm">
        <%= link_to rental.book.name,
                    book_path(rental.book), 
                    class: 'text-blue-500 hover:underline' %>
      </td>

      <td class="border px-4 py-2 text-sm text-center">
        <%= rental.city %>
      </td>

      <td class="border px-4 py-2 text-sm text-center">
        <%= rental.user.first_name_and_initials %>
      </td>

      <td class="border px-4 py-2 text-sm text-center">
        <%= truncate(rental.user.department, length: 15) %>
      </td>

      <td class="border px-4 py-2 text-sm text-center">
        <%= rental.created_at.strftime('%d.%m') %>
      </td>

      <td class="border px-4 py-2 text-sm text-center">
        <%= rental.return_date.strftime('%d.%m') %>
      </td>
    </tr>
  <% end %>

</table>
