<div class="text-2xl font-bold pb-2">
  Взять книгу
  <%= link_to @book.name, book_path(@book), class: tw(:book_card_title) %>
  почитать
</div>

<p class="my-3"><strong>Напоминание:</strong> Вы собираетесь взять книгу "<%= @book.name %>" почитать. Наша библиотека доверяет Вам, поэтому мы не просим логин/пароль. Просто введите ваш корпоративный ID и всё ☺️</p>

<%= form_with(model: [@book, @rental], local: true, class: tw(:rental_form)) do |f| %>

  <%= render 'shared/errors', object: @rental %>

  <div class="mb-4">
    <%= f.label :account, 'Корпоративный ID (или почта)', class: 'text-gray-600' %><br>
    <%= f.text_field :account,
                      autofocus: true, 
                      size: 33,
                      class: tw(:form_input) %>
  </div>

  <div class="mb-4">
    <%= f.label :return_date, 'Дата возврата (не больше 21 дня)', class: 'text-gray-600' %><br>
    <%= f.date_field :return_date,
                      size: 33,
                      class: tw(:form_input) %>
  </div>

  <%# FIELD FOR CITY %>
  <%= f.hidden_field :got_from, value: params['city'] %>

  <div class="mb-4">
    <%= f.submit 'Почитать 📗',
                  class: 'cursor-pointer text-lg font-bold bg-blue-500 text-white px-6 py-2 inline-block mr-6' %>
  </div>

<% end %>
