<div class="text-2xl font-bold pb-2">
  История заказов
</div>

<table class="flex flex-row orders-table">
  
  <tr>
    <th class="bg-blue-100 border text-left px-4 py-2">Название книги</th>
    <th class="bg-blue-100 border text-left px-4 py-2 text-center">От кого</th>
    <th class="bg-blue-100 border text-left px-4 py-2 text-center">Создан</th>
    <th class="bg-blue-100 border text-left px-4 py-2 text-center">Выполнен</th>
    <th class="bg-blue-100 border text-left px-4 py-2 text-center">Действия</th>
  </tr>

  <% @orders.each do |order| %>
    <tr>
      <td class="border px-4 py-2 text-sm">
        <%= order.name %>
      </td>

      <td class="border px-4 py-2 text-sm text-center">
        <%= order.user.first_name_and_initials %>
      </td>

      <td class="border px-4 py-2 text-sm text-center">
        <%= order.created_at.strftime('%d.%m.%Yг.') %>
      </td>

      <td class="border px-4 py-2 text-sm text-center">
        <%= order.updated_at.strftime('%d.%m.%Yг.') %>
      </td>

      <td class="border px-4 py-2 text-sm text-center">
        <%= delete_order_link(order) %>
      </td>
    </tr>
  <% end %>

</table>
