<div class="text-2xl font-bold">
  Заказать новую книгу
</div>

<form action="/orders/new" method="get" class="mb-2 <%= tw(:return_form) %>">
  <div class="mb-4">
    <label for="account" class="text-gray-600">Корпоративный ID (или почта)</label><br>
    <input type="text" name="account" id="account" class="<%= tw(:form_input) %>">
  </div>

  <div class="mb-4">
    <input type="submit" value="Заказать новую книгу 📗" class="cursor-pointer text-lg font-bold bg-blue-500 text-white px-6 py-2 inline-block mr-6">
  </div>
</form>

<% unless @orders.blank? %>
  <div class="text-2xl font-bold pb-2">
    Список желаемой литературы 🐱
  </div>
<% end %>

<ul class="orders flex flex-col">
  <% @orders.each do |order| %>
    <li class="border-2 border-dashed my-3 py-3 px-4">
      <strong>📗 <%= order.name %></strong><br>

      <span class="text-gray-500">✍️ <%= order.author %></span>

      <p class="mt-3">Заказ от 
        <strong class="font-bold text-purple-500">
          <%= order.user.first_name_and_initials %>
        </strong>
      </p>
    </li>
  <% end %>
</ul>
