<div class="text-2xl font-bold pb-2">
  Управление заказами
</div>

<p>
  <%= link_to 'История заказов', order_history_path, class: 'text-blue-500 hover:underline' %>
</p>

<% unless @orders.blank? %>
  <table class="flex flex-row orders-table">
    
    <tr>
      <th class="bg-blue-100 border text-left px-4 py-2">Название</th>
      <th class="bg-blue-100 border text-left px-4 py-2 text-center" style="min-width:135px;">От кого</th>
      <th class="bg-blue-100 border text-left px-4 py-2 text-center" style="min-width:120px;">Действия</th>
    </tr>

    <% @orders.each do |order| %>
      <tr>
        <td class="border px-4 py-2 text-sm">
          <%= order.name %>
          <span class="block mt-2 italic">
            ✍️ <%= order.author %>
          </span>
        </td>

        <td class="border px-4 py-2 text-sm text-center">
          <%= order.user.first_name_and_initials %>
          <span class="block mt-2 italic">
            <%= order.created_at.strftime('%d.%m.%Yг.') %>
          </span>
        </td>

        <td class="border px-4 py-2 text-sm text-center">
          <%= moderate_link(order) %>
          <%= order_done_link(order) %>
          <%= delete_order_link(order) %>
        </td>
      </tr>
    <% end %>

  </table>
<% end %>
