<div class="text-2xl font-bold pb-2">
  Заказать новую книгу
</div>

<p class="my-3"><strong>Напоминание:</strong> Привет, <span class="font-bold text-purple-500"><%= @user.first_name %></span>! Ты собираешься заказать новую книгу в нашу скромную библиотеку. Прежде чем заполнить данные желанной книги, ознакомься, пожалуйста, со списком уже заказанных книг <%= link_to 'на странице заказов', orders_path, class: 'font-bold text-blue-500 hover:underline' %> ☺️</p>

<%= form_with(model: @order, local: true, class: 'flex flex-col') do |f| %>

  <%= render 'shared/errors', object: @order %>

  <div class="mb-4">
    <%= f.label :name, 'Название книги', class: 'text-gray-600' %><br>
    <%= f.text_field :name,
                      autofocus: true, 
                      size: 33,
                      class: tw(:form_input) %>
  </div>

  <div class="mb-4">
    <%= f.label :author, 'Автор', class: 'text-gray-600' %><br>
    <%= f.text_field :author, 
                      size: 33,
                      class: tw(:form_input) %>
  </div>

  <div class="mb-4">
    <%= f.label :link, 'Ссылка на книгу (не обязательно)', class: 'text-gray-600' %><br>
    <%= f.text_field :link, 
                      size: 33,
                      class: tw(:form_input) %>
  </div>

  <%# FIELD FOR USER %>
  <%= f.hidden_field :user_id, value: @user.id %>

  <div class="mb-4">
    <%= f.submit 'Отправить заявку 🚀',
                  class: 'cursor-pointer text-lg font-bold bg-blue-500 text-white px-6 py-2 inline-block mr-6' %>
  </div>

<% end %>
