<% books.each do |book| %>
  <section class="flex p-6 my-4 bg-green-50">
      <div class="flex-none w-48 h-72 relative">
        <%= link_to cover(book), book_path(book) %>
      </div>

      <div class="flex-auto p-6">
        <h1 class="flex-auto text-xl font-bold pb-2">
          <%= link_to book.name, book_path(book), class: tw(:book_card_title) %>
        </h1>
        <div class="w-full flex-none text-sm font-medium text-gray-500 mt-2">
          <%= quantity(book) %>
        </div>
        <p class="text-base text-gray-600 my-4 font-bold">
          📗🖊️ <%= book.author %>
        </p>
        <p>
          <%= truncate book.description, length: 235, separator: ' ' %>
        </p>
      </div>
  </section>
<% end %>
