<%= form_with(model: book, local: true, class: 'flex flex-col') do |f| %>

  <% unless book.name.blank? %>
    <h1 class='text-xl font-bold mb-5'>
      <%= book.name %>
    </h1>
  <% end %>

  <%= render 'shared/errors', object: book %>

  <div class="mb-4">
    <%= f.label :name, 'Название', class: 'text-gray-600' %><br>
    <%= f.text_field :name,
                      autofocus: true, 
                      size: 33,
                      class: tw(:form_input) %>
  </div>

  <div class="mb-4">
    <%= f.label :author, 'Автор', class: 'text-gray-600' %><br>
    <%= f.text_field :author, 
                      size: 33,
                      class: tw(:form_input) %>
  </div>

  <div class="mb-4">
    <%= f.label :description, 'Описание', class: 'text-gray-600' %><br>
    <%= f.text_area :description, 
                    rows: 9, 
                    cols: 65,
                    class: tw(:form_text_area) %>
  </div>

  <div class="mb-4">
    <%= f.label :image_src, 'Ссылка на обложку', class: 'text-gray-600' %><br>
    <%= f.text_field :image_src, 
                      size: 33,
                      class: tw(:form_input) %>
  </div>
  
  <div class="mb-4">
    <%= f.label :ala_quantity, 'Количество (Алматы)', class: 'text-gray-600' %><br>
    <%= f.number_field :ala_quantity, 
                        min: 0, 
                        size: 33,
                        class: tw(:form_input) %>
  </div>
  
  <div class="mb-4">
    <%= f.label :cit_quantity, 'Количество (Шымкент)', class: 'text-gray-600' %><br>
    <%= f.number_field :cit_quantity, 
                        min: 0, 
                        size: 33,
                        class: tw(:form_input) %>
  </div>
  
  <div class="mb-4 checkboxes">
    <%= f.label :category_ids, 'Категории', class: 'text-gray-600' %><br>
    <%= f.collection_check_boxes :category_ids,
                        Category.all,
                        :id, :name, {},
                        class: 'checkbox' do |b| %>
      <div class="mt-1">
        <%= b.check_box %>
        <%= b.label class: 'ml-1' %>
      </div>
    <% end %>
  </div>

  <div class="mb-4">
    <%= f.submit 'Сохранить',
                  class: 'cursor-pointer text-lg font-bold bg-blue-500 text-white px-6 py-2 inline-block mr-6' %>
  </div>

<% end %>
