<div class="text-2xl font-bold pb-2">Все книги</div>

<section class="categories flex flex-row flex-wrap">
  <%= link_to 'Все книги',
    all_books_path,
    class: tw(:category_button) %>

  <% @categories.each do |category| %>
    <%= link_to category.name,
      all_books_path(category_id: category.id),
      class: tw(:category_button) %>
  <% end %>
</section>

<%= render 'cards', books: @books %>
