<div class="text-2xl font-bold pb-2">Новинки</div>

<% if current_user_admin? %>
  <section class="admin">
    <%= link_to 'Добавить книгу', new_book_path, class: tw(:add_book_btn) %>
  </section>
<% end %>

<%= render 'cards', books: @books %>
