<div class="text-2xl font-bold pb-2">Все книги библиотеки</div>

<table class="flex flex-row orders-table">
  
  <tr>
    <th class="bg-blue-100 border text-left px-4 py-2">Книга</th>
    <th class="bg-blue-100 border text-left px-4 py-2 text-center">Шымкент</th>
    <th class="bg-blue-100 border text-left px-4 py-2 text-center">Алматы</th>
    <th class="bg-blue-100 border text-left px-4 py-2 text-center">Прочитано</th>
    <th class="bg-blue-100 border text-left px-4 py-2 text-center">Действия</th>
  </tr>

  <% @books.each do |book| %>
    <tr>
      <td class="border px-4 py-2 text-sm">
        <%= link_to book.name,
                    book_path(book), 
                    class: 'text-blue-500 hover:underline' %>
      </td>

      <td class="border px-4 py-2 text-sm text-center">
        <%= book.q_cit_quantity %>
      </td>

      <td class="border px-4 py-2 text-sm text-center">
        <%= book.q_ala_quantity %>
      </td>

      <td class="border px-4 py-2 text-sm text-center">
        <%= book.times_read %>
      </td>

      <td class="border px-4 py-2 text-sm text-center">
        <%= toggle_book_visibility(book) %>
        <%= edit_link(book) %>
      </td>
    </tr>
  <% end %>

</table>
