<div class="text-2xl font-bold pb-2">Панель управления библиотекой</div>

<section class="admin">
  <ul class="list-disc list-inside">
    <li class="mt-2">
      <%= link_to 'Добавить новую книгу 📘', new_book_path, class: 'text-blue-500 hover:underline' %>
    </li>
    <li class="mt-2">
      <%= link_to 'Добавить нового сотрудника 📘', new_user_path, class: 'text-blue-500 hover:underline' %>
    </li>
    <li class="mt-2">
      <%= link_to 'Все заказы 📥', manage_orders_path, class: 'text-blue-500 hover:underline' %>
    </li>
    <li class="mt-2">
      <%= link_to 'Все книги 📖', list_books_path, class: 'text-blue-500 hover:underline' %>
    </li>
    <li class="mt-2">
      <%= link_to 'Список читающих 🤓', manage_rentals_path, class: 'text-blue-500 hover:underline' %>
    </li>
  </ul>
  <%#= link_to 'Добавить книгу', new_book_path, class: tw(:add_book_btn) %>
</section>
