<div class="text-2xl font-bold pb-2">Детальная информация о книге</div>

<section class="flex p-6 my-4 bg-green-50">
  <div class="flex-none w-48 h-72 relative">
    <%= cover(@book) %>
  </div>

  <div class="flex-auto p-6">
    <h1 class="flex-auto text-2xl font-bold">
      <%= @book.name %>
    </h1>
    <p class="text-base text-gray-600 my-4 font-bold">
      📗🖊️ <%= @book.author %>
    </p>
    <p class="my-2">
      <%= @book.description %>
    </p>
    <% if @book.times_read > 0 %>
      <p class="mt-1 py-1 px-2 border-2 border-yellow-300 inline-block ">Прочитано раз: 
        <strong><%= @book.times_read %></strong>
      </p>
    <% end %>
  </div>
</section>

<section class="rental p-6 my-4 bg-green-50">
  <%= rented_out_text(@book) %>

  <%= get_from_ala(@book) %>
  <%= get_from_cit(@book) %>

  <%= readers_list(@book) %>
</section>

<% if current_user_admin? %>
  <section class="admin p-6 my-4 bg-green-50">
    <%= link_to 'Редактировать', edit_book_path(@book),  class: tw(:edit_book_btn) %>

    <%= hide_or_show(@book) %>
  </section>
<% end %>
