// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// input[type="checkbox"] {
//   display: inline-block;
//   margin: .5em;
// }

// .checkboxes {
//   input[type="checkbox"], label {
//     padding: 5px;
//     margin: 5px;
//     display: inline-block;
//     color: white;
//     background-color: rgb(217, 119, 6);
//   }

//   input[type="checkbox"] {
//     z-index: 99999;
//   }

//   .checked {
//     background-color: rgb(217, 155, 6);
//   }

  // label {
  //   padding: 0;
  //   margin: 0;
  //   display: inline-block;
  //   background-color: red;
  // }
// }
