<header class="border-solid border-b-2 border-yellow-600 mb-5 pb-5">
  <nav class="flex flex-row justify-between items-center">
    <div>
      <%= link_to image_tag('evrika_animated_logo.gif', class: 'w-full'), root_path %>
        <span class="<%= tw(:logo) %>">Библиотека</span>
    </div>

    <ul class="flex flex-row">
      <li class="border-r-2 border-white">
        <%= link_to 'Новинки', root_path, class: tw(:nav_item) %>
      </li>
      <li class="border-r-2 border-white">
        <%= link_to 'Все 📗', all_books_path, class: tw(:nav_item) %>
      </li>
      <li class="border-r-2 border-white">
        <%= link_to 'Заказы', orders_path, class: tw(:nav_item) %>
      </li>
      <li class="border-r-2 border-white">
        <%= link_to 'Вернуть', return_book_path, class: tw(:nav_item) %>
      </li>
    </ul>
  </nav>

  <div class="mt-5">
    <form action="/search" method="get" class="flex flex-row">
      <input
        type="text"
        name="query"
        id="search"
        placeholder="Название книги..."
        class="<%= tw(:search_input) %>">
      <input type="submit" value="Искать 👀" class="<%= tw(:search_input_submit) %>">
    </form>
  </div>

  <% if current_user %>
    <div class="admin pt-5 flex flex-row justify-end items-center">
      <%= link_to "Панель управления", manage_books_path, class: 'font-bold mx-3 border-2 border-purple-500 py-2 px-2 text-purple-500 hover:bg-purple-500 hover:border-0 hover:text-white' %>

      <div class="border-2 py-2 px-2 border-purple-500">
        <p class="font-bold text-purple-500 inline-block">
          <%= current_user.full_name %>
        </p>
        <p class="font-bold inline-block ml-2">
          <%= link_to "Выйти ➡️", session_path,
                      method: :delete, class: 'py-1 px-3 border-2 border-red-500 text-red-500 hover:border-2 hover:bg-red-500 hover:text-white' %>
        </p>
      </div>
    </div>
  <% end %>
</header>
